<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Student</display-name>
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>com.myjdbc.service.MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <!--所有带.do的页面都可访问-->
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
</web-app>